<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About us</title>
</head>
<body>
<main>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci culpa eaque error incidunt inventore ipsam nisi non officia pariatur perferendis porro quam, quos ratione, sunt tempore unde vitae voluptatum?</span><span>Architecto, atque doloremque, explicabo facilis minus natus neque nisi non nostrum officiis pariatur perferendis rerum. Delectus deserunt eaque eos facilis fuga illum neque nobis, non porro praesentium quos veritatis voluptatem!</span>
  <span th:text="${#locale.country}"></span>
</main>
</body>
</html>